SECRET_KEY=cambia-esto-en-produccion-usa-python-secrets

DEBUG=True

# SQL Server - autenticación SQL
DB_NAME=TecnoglassDB
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=tu_password_aqui
DB_TRUSTED_CONNECTION=no
DB_DRIVER=ODBC Driver 17 for SQL Server

# SQL Server - autenticación Windows (dejar DB_USER/DB_PASSWORD vacíos)
# DB_TRUSTED_CONNECTION=yes

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ORIGINS=http://localhost:4200
